extends layout

block head
    link(rel='stylesheet' href='/stylesheets/document.css')
    link(rel='stylesheet' href='/stylesheets/default.min.css')
    script(src='/javascripts/highlight.min.js' defer='defer')
    script(scr='/javascripts/document/index.js' defer='defer')

block content
    article !{article}