<article style='text-align:center'>
    <div class='jumbotron jumbotron-fluid'>
        <div class='container'>
            <h1>{{title}}</h1>
            <img src='images/torii-torii.png' class='img-fluid' alt='Responsive image' />
        </div>
    </div>
</article>