extends layout

block content
  <article style='text-align:center'>
    <div class='jumbotron jumbotron-fluid'>
      <div class='container'>
        h1= title
        <img src='img/torii-torii.png' class='img-fluid' alt='Responsive image'/>
      </div>
    </div>
  </article>
