extends layout

block assets
  link(rel="stylesheet", href="/css/index.css")
  script(src="/js/index.js" defer="defer")
  script(src='/js/mapping/index.js' defer='defer')

block content
    <div id="dialog" role="dialog" class="modal fade">
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title 添加应用
                .modal-body
                    form#form-target(action='/application' method='post')
                        .form-group.row
                            label(for='app-name', class="col-sm-2 col-form-label col-form-label-sm") 名称
                            .col-sm-10
                                input#app-name.form-control.form-control-sm(type='text' name='name')
                        .form-group.row
                            label(for='app-url', class="col-sm-2 col-form-label col-form-label-sm") 网址
                            .col-sm-10
                                input#app-url.form-control.form-control-sm(type='text' name='url')
                .modal-footer
                    button.btn.btn-light.btn-sm(type='button' data-dismiss='modal') 关闭
                    button#btn-save.btn.btn-warning.btn-sm(type='button')
                        <svg width="19px" height="19px" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                        </svg>
                        span  保存
    </div>
    <div style='text-align:center'>
        <div id="banners" class='jumbotron jumbotron-fluid' style="background-color:#ffc235">
            <div class='container'>
                h1= bannerTitle
                <img src='img/torii-torii.png' class='img-fluid' alt='Responsive image'/>
                <button id="close">close</button>
            </div>
        </div>
        <ol id="app-list">
        each app in apps
            li(title= app.name)
                a(href= app.url)
                    img(src=app.logo, alt="logo", width="32", height="32")
                    span= app.name
        li(style="padding:8px 12px", data-toggle='modal', data-target='#dialog')
            img(src="img/plus.png", alt="logo", width="32", height="32")
        </ol>
    </div>
