extends layout

block assets
    link(rel='stylesheet' href='/stylesheets/document.css')
    link(rel='stylesheet' href='/stylesheets/default.min.css')
    script(src='/javascripts/highlight.min.js' defer='defer')
    script(src='/javascripts/document/index.js' defer='defer')

block content
    section(style='position:relative')
        section#outline
            h3 目录
            ol#outline__root
        article !{article}
