.file-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 8px;
  padding: 0;
  list-style: none;
}
.file-list > li {
  box-sizing: content-box;
  position: relative;
  padding: 8px;
  width: 64px;
  height: 100px;
  cursor: pointer;
  border-radius: 5px;
}
.file-list > li:hover {
  background-color: #f8f9fa;
}
.file-list > li > p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
.btn-upload {
  padding: 0;
  position: absolute;
  bottom: 20px;
  right: 20px;
  overflow: hidden;
  border-radius: 50%;
}
.btn-upload > *:hover {
  cursor: pointer;
}
#btn-plus {
  position: relative;
}
.btn-upload__input {
  display: none;
}
