#imglist {
  width: 1060px;
  margin: 12px auto;
  column-count: 4;
  column-gap: 12px;
  list-style: none;
}
#imglist > li {
  flex: 1;
}
#imglist img {
  margin-bottom: 12px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 2px;
  width: 256px;
  height: auto;
}
