extends ../layout

block assets
    link(rel="stylesheet", href="/stylesheets/plan.css")
    script(src="/javascripts/plan.js" defer='defer')

block content
    ul.list-group
        each plan in plans
            li.list-group-item.p-1(class=plan.class)
                span=plan.desc
                button.check-btn(type='button' class=plan.done?'check-btn--checked':'')