article {
  padding: 12px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

ol,
ul {
  padding: 0 20px;
}

code {
  padding: 2px 4px;
  color: #2c2c2c;
  background-color: orange;
  border-radius: 3px;
}

pre {
  padding: 12px 20px;
  background-color: #f1f1f1;
  border-radius: 3px;
}

pre code {
  background-color: #f1f1f1;
}
