.issue-list {
  max-width: 800px;
  margin: 12px auto;
}
.check-btn {
  position: absolute;
  right: 12px;
  border-radius: 50%;
  border: 1px solid #aaa;
  height: 24px;
  width: 24px;
  background-color: #fff;
}
.check-btn::after {
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  content: '';
  border-radius: 50%;
  height: 16px;
  width: 16px;
  border: 5px solid #eee;
}

.check-btn--checked::after {
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  content: '';
  border-radius: 50%;
  height: 16px;
  width: 16px;
  border: 5px solid #4e96dd;
}
