extends ../layout

block assets
    link(rel="stylesheet", href="/css/example.css")
    script(src='/js/example/baidu.js' defer='defer')

block content
    .row(style='margin:0;padding: 12px 0')
        .col-sm-4
            input#kw.form-control.form-control-sm(type='text' placeholder='输入搜索关键字')
        .col-sm-4
            button#rq.btn.btn-warning.btn-sm(type='button') 请求图片
    ul#imglist
