extends ../layout.pug

block assets
    link(rel="stylesheet", href="css/assets.css")
    script(src="js/assets/index.js" defer="defer")

block content
    <nav aria-label="breadcrumb" style="margin: 8px">
        <ol class="breadcrumb" style="padding: 4px 12px;margin:0;background-color:#f8f9fa">
            each fold, idx in path
                li.breadcrumb-item(class=path.length-1===idx?'active':'')
                    case idx
                        when path.length-1
                            =fold.text
                        default 
                            a(href=fold.path)= fold.text
        </ol>
    </nav>
    <button type="button" class="btn btn-upload">
        img#img-plus(for="btn-upload", src="img/plus.png", alt="upload", width="32", height="32")
        <input id="btn-input-upload" type="file" class="btn-upload__input"/>
        
    </button>