extends ./_layout.pug

block append content
    <section>
        <ul id="file-list" class="file-list">
            each file in files
                li(title=file.name)
                    img(data-prefix= file.prefix  data-name= file.name data-type= file.type src=file.img, alt=file.name)
                    p(data-prefix= file.prefix  data-name= file.name data-type= file.type)= file.name
        </ul>
    </section>